body {
   display: flex;
   text-align: center; 
   justify-content: center; 
   
}

table {
    border-collapse: collapse;
    border: 5px hotpink solid;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
    font-size: 2rem;
    

}

