body {
   display: flex;
   text-align: center; 
   justify-content: center;  
   background-image: url(../assets/visor6.png); 
   
}

table {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    border: 10px hotpink solid;
    margin: 20px;
    width: 600px;
    height: 250px;
    font-size: 1.5rem;
    background: teal;
    color: white;
    box-shadow: 5px 5px 5px rgb(92, 88, 88);
}

thead {
    background: rgb(36, 167, 123);
}

tfoot {
    background:rgb(36, 167, 123);
}

h1 {
    color:rgb(0, 255, 221);
    font-size: 100px;
    text-shadow: 5px 5px 5px rgb(39, 38, 38);
    font-family:fantasy;
}

a {
    color: rgb(255, 208, 0);
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    font-size: 60px;
    text-shadow: 5px 5px 5px rgb(82, 82, 82);
    font-family:fantasy;
}

button {
    background: rgb(255, 0, 157);
    color: white;
    border: white solid 3px;
    border-radius: 3px;
    font-size: 20px;
    width: 200px;
    box-shadow: 5px 5px 5px rgb(65, 63, 63);
    margin: 10px;
}

button:hover {
    background: white;
    color:rgb(255, 0, 157);
    border: rgb(255, 0, 157) solid 3px;
    opacity: 70%;
    cursor: pointer;
}