/* add home page styles here */
body {
    font-family: fantasy;
    background: linear-gradient(teal, purple , azure);
    text-align: center;
}

h1 {
    color: rgb(76, 202, 125);
    font-size: 100px;
    text-shadow: 5px 5px 5px rgb(26, 24, 24);
    
}

#visors {
    display: flex;
    flex-wrap: wrap;   
}

#visors li:hover {
color: red;
font-size:50px;
text-shadow: 5px 5px 5px rgb(136, 130, 130);
}

#visors li {
width: 150px;
height: 400px;
border: 7px solid hotpink;
padding:50px;
background-color: white;
text-align: center;
color: purple;
font-size: 2.5rem;
list-style: none;
margin: 10px;
}

p {
    font-size: 1rem;
}

#visors li h3 {
    font-size: 2rem;
    font-weight: 600;
    list-style:none;
    text-align: center;
    color: hotpink;
    text-shadow: 2px 2px 2px rgb(107, 105, 105);

}


#visors li img {
    width: 100px;
    text-align: center;
 
}

button {
    text-align: center;
    background-color: teal;
    color: white;
    font-size: large;
    box-shadow: 3px 3px 3px darkgrey;
}

#cart-link {
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 5rem;

}

#cart-link:hover {
    color: hotpink;
    font-size: 50px;
    text-shadow: 5px 5px 5px darkgray;

}

