/* add home page styles here */
body {
    font-family:fantasy;
    background: linear-gradient(teal, purple , azure)
}
#visors {
    display: flex;
    flex-wrap: wrap;
    
}

#visors li {
width: 200px;
height: 500px;
border: 7px solid hotpink;
border-radius: 5px;
padding: 45px;
margin: 10px;
background-color: white;
text-align: center;
color: purple;
font-size: 3rem;
list-style: none;
}

#visors li h3 {
    font-size: 2rem;
    font-weight: 600;
    list-style:none;
    text-align: center;
    color: hotpink;
    text-shadow: 2px 2px 2px rgb(107, 105, 105);

}


#visors li img {
    width: 200px;
    height: auto;
    padding: 10px;
    text-align: center;
 
}

button {
    margin: 20px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: large;
    box-shadow: 3px 3px 3px darkgrey;
    
}